<p>Dashbord</p>
<div class='card-container'>

   <!--a class="navbar-brand" routerLink="/company" routerLinkActive="active" >Company</a-->
     <a class="card" routerLink="/company" >
           <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
           <span>Company</span>
     </a> 

     <a class="card" routerLink="/report" >
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg> 
        <span>Reports</span>
     </a> 

    <a class="card" routerLink="/humans" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>Humans</span>
    </a> 

    <a class="card" routerLink="/admin" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>admin</span>
    </a> 


    <a class="card" routerLink="/nglogin" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngstate</span>
    </a> 

    <a class="card" routerLink="/ngbook" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngbook</span>
    </a> 

    <a class="card" routerLink="/ngscoreboard" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngscoreboard</span>
    </a>

    <a class="card" routerLink="/ngmovices" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngmovices</span>
    </a>

   <a class="card" routerLink="/ngentity" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngentity</span>
    </a>

   <a class="card" routerLink="/ngtoggle" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngToggle</span>
    </a>

   <a class="card" routerLink="/ngpaginator" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngPaginator</span>
    </a>

   <a class="card" routerLink="/ngdevtools" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngDevtools</span>
    </a>

   <a class="card" routerLink="/ngroute" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngroute</span>
    </a>

   <a class="card" routerLink="/ngmaster" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngMaster</span>
    </a>

   <a class="card" routerLink="/ngsignal" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngSignal</span>
    </a>


   <a class="card" routerLink="/ngsignalService" routerLinkActive="active" >
       <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span>ngSignalService</span>
   </a>

   <!--a class="navbar-brand" routerLink="/about" routerLinkActive="active" >About</a-->
     <a class="card" routerLink="/about" >
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg> 
      <span>About</span>
     </a> 


</div>