<p>adminCenter</p>
<p> Session ID {{sessionId | async }}</p>
<a id="anchor" ></a>
<div>
  <button  [routerLink]="['/admin']" routerLinkActive="btn-info" [routerLinkActiveOptions]="{exact : true}" >Admin home </button>
  <button  [routerLink]="['/admin/users']">User</button>
  <button  [routerLink]="['/admin/product']">Produc</button>
  <button  [routerLink]="[{ outlets : { popup : ['send'] }}]">Popup Send</button>
  <button  type button (click)="logout()" > Log Out </button>
</div>
<router-outlet></router-outlet>
<router-outlet name="popup" ></router-outlet>