<div>message login </div>
<div>
   <form>
     <div stype="width 50%;">
       <div>
          <label>User Name</label>
       </div>
       <div>
          <input type="text" name="userName" value="">
       </div>

       <div>
          <label>Password</label>
       </div>
       <div>
          <input type="password" name="userName" value="">
       </div>
       <p>
        <button (click)="login()" type="button">login</button>
        <button (click)="cancel()" type="button">canCel</button>
       </p>
     </div>
   </form>
</div>