<div>ReportFileMasters </div>

<div>{{reportFileMasters$}}</div>

<button type="button" (action)="onAddData()" >add</button>

<ol *ngIf="reportFileMasters$ | async as reportFileMasters " >

<a *ngFor = "let reportFileMaster of ( reportFileMasters$ | async ) " [routerLink]="reportFileMaster.reportId"  [fragment]="'reportFileMasters$falgmet'" >


  <li> {{reportFileMaster.reportId}} | 
       {{reportFileMaster.parameterName}} |
       {{reportFileMaster.description}} |
       {{reportFileMaster.rgText}} 
  </li>



</a>

</ol>

<router-outlet></router-outlet>
