

<!-- Toolbar -->
<div class="toolbar" role="banner">
 
  <!--span>Welcome</span-->
    <a routerLink="/company" > Company </a>
    <div class="spacer"></div>
     
    <div>
       <button type="button">Edit</button>
       <button type="button">Remove</button>
    </div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div>
    <nav>

    <span>{{ title }} app is {{1+1}}</span>
    
     <a [routerLink]="['/home']"> Home </a>     

    </nav>
   <section>
    <router-outlet />
   </section>
  </div>

  <!-- Next Steps -->

  <!-- Footer -->
  <footer>
  </footer>

</div>